# Python
__pycache__/
dist/
.eggs/
*.egg-info/

# IDEs
.vscode/
.idea/

# Project specific
logs/
data/
.DS_Store

output/
third-party
agent.md

UniLab.md
Changelog.md

benchmark/outputs/
unilab/algos/rsl_rl

mlx_learn/